@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Comfortaa|Lato|Roboto|Sofia&display=swap');



/* aplica a todo */ 
* {
    box-sizing: border-box;
    text-decoration: none;
}
a {
    text-decoration: none;
}

/* FIN aplica a todo */ 

.header{
    background: black;
    display: flex;
    justify-content: space-between;
    
}

h1 {
    color: white;
    font-family: gugi;
    line-height: 2.2;
}

.logo{
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

.buscador{
  flex: 4 1 auto;
  display: flex;
  justify-content: center;
}

#boton-buscador{
    border-radius: 2.25rem;
    color:white;
    border-color: white;
}

.ingresar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 auto;

}

.boton {
    color: white;
    background-color: transparent;
    border-color: transparent;
}
.boton:hover {
    background: transparent;
}

.redes {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.redes a {
    padding:10px;
    padding-bottom:25px;
    font-size: 30px;
    color: white;
}

.nav{
    display: flex;
    border-bottom: 0px solid #aaa;
    background : #f5f5f5; 
    padding: 0px;


}

.nav .categorias a {
 color: #494949;
 padding:8px;
 font-family: Comfortaa;
}